@charset "UTF-8";

/* カード内の画像は以下のURLを使用して下さい */
/* https://picsum.photos/id/1005/200/300 */
body{
	margin: 0;
	width: 100%;
	}
.green--box {
		width: 200px;
		height: 200px;
		background: #76ff826b;
		margin: 0 auto;
}
h3.question--title:nth-of-type(1)+div.green--box{
	opacity: 0;
	animation: fadeIn 4s forwards;
}
@keyframes fadeIn{
	to{
		opacity: 1;
	}
}
h3.question--title:nth-of-type(2)+div.green--box{
	opacity: 1;
	animation: fadeOut 4s 4s forwards;
}
@keyframes fadeOut{
	to{
		opacity: 0;
	}
}
h3.question--title:nth-of-type(3)+div.green--box{
	animation: spin 4s linear infinite;
}
@keyframes spin{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

.blue--box {
	width: 200px;
	height: 200px;
	background: #311aefd0;
	margin: 0 auto;
	transition: background 0.5s;
}
.hover-colorchange:hover {
  background: #ff27e2c9;
}

.hover-spin360 {
  transition: transform 0.5s;
}
.hover-spin360:hover {
  transform: rotate(360deg);
}

.hover-slideup {
	transition: transform 0.5s ease-in-out;
}
.hover-slideup:hover{
	transform: translateY(-20%);
}

.hover-slideright {
	transition: transform 0.5s ease-in-out;
}
.hover-slideright:hover{
	transform:translateX(20%)
}
.hover-expand-height{
	transition: height 0.5s ease-in-out
}
.hover-expand-height:hover{
	height:300px;
}
.hover-expand-width{
	transition: width 0.5s ease-in-out
}
.hover-expand-width:hover{
	width:500px
}
.hover-border{
	transition: border 0.5s ease-in-out;
	border: none;
	box-sizing: border-box
}
.hover-border:hover{
	border: 10px #00ffe5 solid;
}
.hover-shadow{
	transition: box-shadow 0.5s ease-in-out;
	box-shadow: none;
}
.hover-shadow:hover{
	box-shadow:8px 11px 10px 3px #06031ed0;
}
.green-circle{
	position: relative;
	width:50px;
	height:50px;
	margin: 0 auto;
	border-radius:50%;
	border-style: solid;
	border-width: 20px;
	border-color: #14ff4bcd #ecf1f2 #ecf1f2 #ecf1f2 ;
	animation: spin 1.1s linear infinite;
}
@keyframes spin{
	from{transform: rotate(0deg);	}
	to{transform: rotate(360deg);	}
}
.card-box{
	display: flex;
	width: 900px;
	margin: 0 auto;
	border:1px solid #000000;
	}
.card{
	width: 300px;
	background: #ffffff;
	position: relative;
	padding: 20px;
}
.card-box .card:nth-child(2){
	border-right:1px solid #000000;
	border-left:1px solid #000000;
}
.card:hover{
	box-shadow: 0px 0px 10px 3px #424242d0;
}
.image{
	width: 150px;
	height: 150px;
	margin: 0 auto;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	z-index:-1;
}
.text{
	padding: 20px;
}

.card:nth-child(1) .image {
  background-image: url(https://picsum.photos/id/1005/200/300);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.card:nth-child(2) .image {
  background-image: url(https://picsum.photos/id/1005/200/300);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.card:nth-child(3) .image {
  background-image: url(https://picsum.photos/id/1005/200/300);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
